<table class="table-bordered table-sm small font-weight-bold" style="background:#fff; opacity: .7;">
    <tbody>
        <!-- GPS Data -->
        <tr>
            <td>Lat:</td>
            <td id="lat-data">27.682828</td>
        </tr>
        <tr>
            <td>Lng:</td>
            <td id="lng-data">85.321709</td>
        </tr>
        <tr>
            <td>AltR:</td>
            <td id="altr-data">0</td>
        </tr>
        <tr>
            <td>Alt:</td>
            <td id="altitude-data">0</td>
        </tr>
        <tr>
            <td>Sat:</td>
            <td id="numSat-data">0</td>
        </tr>
        <tr>
            <td>HDOP:</td>
            <td id="hdop-data">100</td>
        </tr>
        <tr>
            <td>FIX:</td>
            <td id="fix-data">NO FIX</td>
        </tr>
        <tr>
            <td>Head:</td>
            <td id="head-data">0</td>
        </tr>
        <!-- velocity -->
        <tr>
            <td>DFH:</td>
            <td id="DFH-data">0</td>
        </tr>
        <tr>
            <td>EST:</td>
            <td id="EST-data">0</td>
        </tr>
        <tr>
            <td>TOF:</td>
            <td id="TOF-data">0:0</td>
        </tr>
        <tr>
            <td>GS:</td>
            <td id="gs-data">0.000</td>
        </tr>
        <tr>
            <td>AS:</td>
            <td id="air-data">0.000</td>
        </tr>
        <!-- Other -->
        <tr>
            <td>Mode:</td>
            <td id="mode-data">Unknown</td>
        </tr>
        <tr>
            <td>Arm:</td>
            <td id="arm-data">False</td>
        </tr>
        <tr>
            <td>EKF:</td>
            <td id="ekf-data">False</td>
        </tr>
        <tr>
            <td>Status:</td>
            <td id="status-data">Unknown</td>
        </tr>
        <tr>
            <td>LiDar:</td>
            <td id="lidar-data">0</td>
        </tr>
        <tr>
            <td>Volt:</td>
            <td id="volt-data">0</td>
        </tr>
        <tr>
            <td>Latency:</td>
            <td id="latency-data">0</td>
        </tr>
        
    </tbody>
</table>