<h1>Currently Flying drones</h1>
<table>
  <tr>
    <th>Drone Name</th>
    <th>Drone Location</th>
    <th>Click to View</th>
  </tr>
  <tr>
    <td>Hero</td>
    <td>hero Home</td>
    <td><button>click me</button></td>
  </tr>
</table>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
