<div id="contact" v-cloak>
  <div class="container">
    <h1 class="text-center">Welcome to Drone Monitoring System</h1>
    <h4 class="text-center"> Please <a href="/login">Login</a> to view the drone status</h4>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
